body {
    background-color: #1e2024;
}

#window {
    position: absolute;
    text-align: center;
    top: 5%;
    left: 10%;
    width: 80%;
    height: 75%;
    background-color: rgb(24, 24, 24);
    border-radius: 20px;
    padding-top: 4%;
    box-shadow: 0 0 10px #111; 
}

.fond {
    height: 90%;
    width: 100%;
}

#tree_dots {
    top: 2%;
    left: 3%;
    position: absolute;
    display: flex;
}

.dots {
    left: 3%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 10px 3px;
}

#d1 {
    background-color: crimson;
    cursor: pointer;
}

#d2 {
    background-color: yellow;
    cursor: pointer;
}

#d3 {
    background-color: lightgreen;
    cursor: pointer;
}

#arrows_container {
    position: absolute;
    width: 100%;
    top: 88%;
    text-align: center;
}

.arrows {
    width: 75px;
    height: 75px;
    border-radius: 30%;
    background-color: rgb(24, 24, 24);
    transition: background-color 0.5s;
}

.arrows:hover {
    background-color: rgb(60, 60, 60);
}